$navbar-padding-y: 1rem;

$navbar-light-color:  #fff;
$navbar-light-hover-color: rgba(255,255,255,0.7);

$primary: #539FFC;
$secondary: #ff7675;

$btn-border-radius: 0;

$font-family-sans-serif: 'Poppins', sans-serif;
