<div class="content">
  <div class="container-fluid">


    <div class="ad ad-xxl">100% x 100px(min)</div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-9">
          <router-outlet></router-outlet>
        </div>
        <div class="col-sm-3">
          <div class="ad ad-xl">100% x 300px</div>
          <div class="ad ad-lg">100% x 250px</div>
          <div class="ad ad-md">100% x 200px</div>
          <div class="ad ad-sm">100% x 150px</div>
          <div class="ad ad-xs">100% x 100px</div>
        </div>
      </div>
    </div>
  </div>
</div>
