<div class="content">
  <div class="container-fluid">
    <button type="button" data-toggle="modal" data-target="#newEventModal" class="d-flex btn btn-outline-primary ml-auto">
      Create Event</button>

    <div class="ad ad-xxl">100% x 100px(min)</div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-9">
          <app-feed></app-feed>
        </div>
        <div class="col-sm-3">
          <div class="ad ad-xl">100% x 300px</div>
          <div class="ad ad-lg">100% x 250px</div>
          <div class="ad ad-md">100% x 200px</div>
          <div class="ad ad-sm">100% x 150px</div>
          <div class="ad ad-xs">100% x 100px</div>
        </div>
      </div>
    </div>
  </div>
</div>
