.leaderBoard {
    width: 728px;
    height: 90px;
    margin-bottom: 10px;
    background-color: darkgrey;
}
.squareLarge {
    height: 250px;
    width: 250px;
    background-color: darkgray;
    margin-bottom: 10px;
}
.squareSmall {
    height: 200px;
    width: 200px;
    background-color: darkgray;
    display: block;
    margin-bottom: 10px;
}
.inlineRectacngle {
    height: 300px;
    width: 250px;
    background-color: darkgray;
    margin-bottom: 10px;
}
.largeRectangle {
    height: 336px;
    width: 280px;
    background-color: darkgray;
    margin-bottom: 10px;
}